<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isScreenSmall() ? 'over' : 'side'" [opened]="!isScreenSmall()"
    fixedTopGap="56">
    <nav>
      <h3>Menu</h3>
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="item-selected">Home</a>
        </li>
        <li>
            <a routerLink="/list" routerLinkActive="item-selected">PokeList</a>
          </li>
      </ul>
    </nav>
  </mat-sidenav>
  <div class="main">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>