@import '../../../variables.scss';
header {
    display: flex;
    align-items: center;
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
    padding-left: 10px;

    h1 {
        font-size: 30px;
        font-weight: 300;
        margin: 0;
        padding: 28px 12px;
        font-size: 20px;
        outline: none;
    }

    .sidenav-toggle {
        display: none;
        @media (max-width: 720px) {
            display: block;
        }
    }
}