table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.loader {
    width: 100px;
    padding-top: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}